.Paragraph-1{
    color: blueviolet;
}

.Paragraph-2{
    color: rgb(186, 226, 43);
}

.Paragraph-3{
    color: rgb(226, 43, 147);
}

#No1{
color: black;
}

#No3{
color: brown;
}
p{
    color: palevioletred!important;
}

P.Paragraph-1{
    color: yellow;
}

.Paragraph-1.blue{
    color: green;
}

#No1.Paragraph-1.Paragraph-1.blue{
    color: cadetblue;
}